:root {
    /* Animated Background Colours */

    --dark-grey-1: #e2e8f0;
    --dark-grey-2: #cbd5e0;
    --dark-teal-1: #81e6d9;
    --dark-teal-2: #4fd1c5;
    --dark-blue-1: #90cdf4;
    --dark-blue-2: #63b3ed;
    --dark-green-1: #9ae6b4;
    --dark-green-2: #68d391;
    --dark-purple-1: #d6bcfa;
    --dark-purple-2: #b794f4;

    --grey-1: #374151;
    --grey-2: #111827;
    --teal-1: #2c7a7b;
    --teal-2: #285e61;
    --blue-1: #1d4ed8;
    --blue-2: #1e3a8a;
    --green-1: #047857;
    --green-2: #064e3b;
    --purple-1: #6d28d9;
    --purple-2: #4c1d95;
}
