.icon {
    background-size: cover;
    width: 24px;
    height: 24px;
    display: flex;
}

.twitter-icon {
    background-image: url("/assets/social-icons/twitter.svg");
}

.reddit-icon {
    background-image: url("/assets/social-icons/reddit.svg");
}

.mastodon-icon {
    background-image: url("/assets/social-icons/mastodon.svg");
}

.discord-icon {
    background-image: url("/assets/social-icons/discord.svg");
}

.github-icon {
    background-image: url("/assets/social-icons/github.svg");
}
